{% extends "layout/_body.html" %}
{% block title %}
  List Client
{% endblock %}
{% block content %}
<br>
<div class="row">
  <a href={% url 'stock:add_bill' %} class="button">Agregar Factura</a>
  <ul class="accordion" data-accordion>
    {% for bill in bills %}
    <li class="accordion-item" data-accordion-item>
      <a href="#" class="accordion-title">{{bill.client}}</a>
      <div class="accordion-content" data-tab-content>
        Nombre: {{bill.client}} | Cantidad: {{bill.amount}} | Precio: {{bill.price}}
        <div class="button-group">
          <a href={% url 'stock:edit_bill' bill.id %} class="success button">Edit</a>
          <a href={% url 'stock:remove_bill' bill.id %} class="alert button">Delete</a>
        </div>
      </div>
    </li>
    {% endfor %}


</ul>
</div>

{% endblock %}
